body {
  @media only screen and (max-width:62em) {
    font-size: 3em;
  }

  @media (min-width:62em) {
    font-size: 1.5em;
  }
  #navbar_container {
    .navbar_position {
      top: 0em;
      position: fixed;
      width: 100%;
      background-color: black;
      z-index: 16;
      border: none;
      .container-fluid {
        padding: 0em;
        .navbar-header {
          // margin-top: 1em;
          background-color: #170900;
          width: 100%;
          color: wheat;
          padding: 1em 1em;
          margin-right: 0em;
          margin-left: 0em;
          a {
            text-decoration: none;
          }
        }
      }
    }
  }
  #page-content-wrapper {
    padding-top: 3em;
    top: 5em;
    .container-fluid {
      #content {
        background-color: white;
        box-shadow: 0em 1em 2em .5em #025B75;
        padding-top: 2em;
      }
    }
  }

  #footer {
    background-color: black;
    color: white;
    .tag_line {
      font-size: 1.5em;
      box-shadow: 0em .5em 3em #754121;
      padding: 0.4em;
      color: #15B7AD;
      text-shadow: .1em .1em .3em rgb(131, 114, 247);
      font-weight: bold;
    }
    padding: 1em 2em;
  }
}